na<h2>My tasks</h2>

<div class="tasksAll">
<ul >
<% @tasks.each do |task| %>
</li>
  <li><input type="checkbox" <%= checked(task)%> ></input> <%= link_to task.title, task_path(task) %> .  <%= link_to task_path(task),
  method: :delete,
  data: { confirm: "Are you sure?" } do %>
<%= fa_icon "trash" %>
<% end %>
</li>
<% end %>
</ul>
</div>


<div>
+ <%= link_to "Add a new Task", new_task_path %>
</div>




